

.vidcards{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.info{
    margin-left: 1rem;
    margin-top: 10px;
    font-family:sans-serif;
    text-align: justify;
}

.vidcards img{
    height: 20rem;
}